.chat_input {
  width: 100%;
  background: rgb(255, 255, 255);
  height: 40px;
  line-height: 40px;
  float: right;
  margin-bottom: 3px;
  box-shadow: 0 -8px 10px -6px rgb(167, 167, 167);

  display: flex;
  flex-direction: row-reverse;
}

.chat_input input {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  border: none;
  padding: 15px;
  direction:RTL;
  padding-right: 10px;
  flex: 2;
}

.chat_input input:focus {
  outline: 0;
}

.chat_input input:focus::placeholder { /* Firefox, Chrome, Opera */ 
  color: blue; 
} 
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
  color: red; 
} 
::-ms-input-placeholder { /* Microsoft Edge */ 
  color: orange; 
} 

.chat_input_input-div {
  display: inline;
  width: 100%;
}

.chat_input-send-btn {
  display: inline;
  height: 100%;
  flex: 1;
}

.chat_input-send-btn img {
  height: 100%;
  display: inline;
  padding-bottom: 3px;
}

.chat_input-atach-btn img {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 10px;
}