.chat_message_self {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
}

.chat_message_img img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.chat_message-message {
  border-radius: 10px;
  max-width: 70%;
  direction:rtl;
  text-align:right;
  color: #ffffff;
  margin-bottom: 20px;
}

.chat_message-message.self-message {
  margin-right: 10px;
  padding: 10px 10px 0 10px;
  background: #817cce;
  box-shadow: 0 4px 8px -6px black;
}

.chat_message-time {
  color: grey;
  font-size: 12px;
  margin-top: 3px;
  position: relative;
  top: 25px;
}